.property {
  font-size: 12px;
  position: relative;
  .view-swiper{
    image{
      width: 100%;
    }
  }
  .view-caontainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    .property-title{
      font-size: 16px;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .property-info{
      margin-top: 1px solid #ddd;
      padding-bottom: 60px;
      .info-title{
        font-size: 16px;
        margin-bottom: 5px;
      }
      .info-lyout{
        border-bottom: 1px solid #ddd;
        padding: 5px;
        display: flex;
      }
      .estateInfo{
        justify-content: space-between;
        align-items: center;
      }
      .dateInfo{
        flex-direction: column;
      }
      .labelInfo{
        flex-direction: column;
        .info-labels{
          display: flex;
          .label-group{
            width: 60px;
            height: 25px;
            line-height: 25px;
            border:1px solid #ddd;
            text-align: center;
          }
          .label-group +.label-group{margin-left: 5px;}
        }
      }
      .info-Images{
        flex-direction: column;
        .info-view{
          .info-img{
            width: 100%;
          }
        }
      }
      .periphery-facility{
        margin-bottom: 5px;
        .facility-data{
          flex-wrap: wrap;
          display: flex;
          width: 100%;
          .fatys{
            width: 25%;
            height: 25px;
            line-height: 25px;
          }
        }
      }
      .periphery-remark{
        margin-bottom: 5px;
        .facility-desc{
          flex-wrap: wrap;
          display: flex;
          width: 100%;
          line-height: 2;
        }
      }
      .info-traffic{
        .traffic{
          width: 100%;
          map{
            width: 100%;
            min-height: 300px;
          }
        }
      }
    }
  }
  .view-btn-group {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0;
    border-top: 1px solid #ddd;
    height: 50px;
    width: 100%;
    background: #f8f8f8;
    .btn {
      font-size: 14px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .btn-icon{
        
      }
    }
    .btn:nth-child(1) {
      flex-grow: 1;
    }
    .btn:nth-child(2) {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      flex-grow: 1;
    }
    .btn:nth-child(3) {
      flex-grow: 4;
      background: rgb(6, 50, 92);
      color: white;
    }
  }
}
